<% @page_title = @recipe.name %>
<div class="container">
	<%= render 'shared/page_title', title: @recipe.name %>

	<div class="well">
	  <h4 class="description">Steps:</h4>
	  <hr />
	  <%= simple_format(@recipe.description) %>
	  <hr />
	  <% if @recipe.ingredients.any? %>
	    <p>Ingredients: <%= render @recipe.ingredients %></p>
		<% end %>

	  <div class="pull-right corner">
	    <p>
	      Created by: <br>
	      <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
	      <br>
	      <small><%= @recipe.chef.chefname.capitalize %></small>
			</p>
      <small><%= time_ago_in_words(@recipe.created_at) %> ago</small>
	  </div>

	  <div class="recipe-actions">
		  <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
			  <%= link_to "Edit This Recipe", edit_recipe_path(@recipe), class: 'btn btn-xs btn-warning' %>
			  <%= link_to "Delete This Recipe", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-xs btn-danger" %>
			<% end %>
		  <%= link_to "View All Recipes", recipes_path, class: 'btn btn-xs btn-primary' %>
		</div>
	</div>

	<div class="row">
	  <div class="row col-md-8 center-block">
	    <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
	      <i class="glyphicon glyphicon-thumbs-up"></i>
	    <% end %> <%= @recipe.thumbs_up_total %> ||
	    <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
	      <i class="glyphicon glyphicon-thumbs-down"></i>
	    <% end %> <%= @recipe.thumbs_down_total %>
	  </div>
	</div>

	<% if logged_in? %>
    <div class="col-md-8 col-md-offset-2">
      <h3>Comments: </h3>
      <hr />
      <%= form_for([@recipe, @comment], remote: true, :html => {class: "form-horizontal",
                                        role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description, "Comment" %>
          </div>

          <div class="col-md-8">
            <%= f.text_area :description, rows: 8, class: "form-control",
                            placeholder: "Enter Comment Here" %>
          </div>
        </div>

        <div class="form-group">
          <div class="center-block col-md-10">
            <%= f.submit "Submit Comment", class: "btn btn-primary btn-lg btn-xlarge" %>
          </div>
        </div>
      <% end %>
      <hr />
    </div>
	<% end %>

	<div class="comment-row">
		<% if @recipe.comments != 0 %>
	    <div class="col-md-8 center-block">
	      <h3>Prior Comments: </h3>
	        <div id="messages">
	          <%= render partial: 'comments/comments', object: @comments %>
	        </div>
		  </div>
		<% else %>
		  <div class="col-md-8 center-block">
		    <h3>Be the first to comment!</h3>
		  </div>
		<% end %>
	</div>
</div>
